
        * {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }

        h1 {
            text-align: center;
            text-decoration: dashed;
            text-shadow: 1px;
            font-size: 160%;
            font-weight: bolder;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 25px 0px 25px 0px;
        }

        div {
            border: 4px solid black;
            float: left;
        }

        p {
            float: right;
            font-weight: bolder;
            padding: 5px;
            margin: 1px;
        }

        article {
            text-align: center;
            float: right;
            border-bottom: 4px solid black;
            border-left: 4px solid black;
            font-weight: bolder;
            font-size: 130%;
            padding: 4px;
            position:relative;
        }

        #t1 {
            background-color: rgb(211, 156, 74);
        }

        #t2 {
            background-color: rgb(194, 129, 224);
        }

        #t3 {
            background-color: rgb(120, 144, 223);
        }

        #div1 {
            background-color: rgb(122, 201, 224);

        }

        #div2 {
            background-color: rgb(158, 226, 173);

        }

        #div3 {
            background-color: rgb(226, 188, 161);

        }

        @media (min-width:992px) {
            .col-lg-1 {
                width: 28%;
                margin-left: 4%;
            }

            .col-lg-2 {
                width: 28%;
                margin-left: 4%;
            }

            .col-lg-3 {
                width: 28%;
                margin-left: 4%;
                margin-right: 4%;
            }
        }

        @media (min-width:768px) and (max-width:991px) {
            .col-md-1 {
                width: 45%;
                margin-left: 3.33%;
            }

            .col-md-2 {
                width: 45%;
                margin-left: 3.33%;
                margin-right: 3.33%;
            }

            .col-md-3 {
                margin-top: 4%;
                width: 93.44%;
                margin-left: 3.33%;
                margin-right: 3.33%;
            }
        }

        @media (max-width:767px) {
            .col-sm-1 {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 15px;
            }

            .col-sm-2 {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 15px;
            }

            .col-sm-3 {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 15px;
            }
        }
